<h5>Login</h5>
<div class="row">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSignin()">
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate"
               formControlName="email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email"
               data-error="Invalid email">
          Email
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate"
               formControlName="password"
               [class.invalid]="form.controls['password'].touched && !form.controls['password'].valid">
        <label for="password"
               data-error="Password is mandatory">
          Password
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Login<i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
