<h5>{{ title }}</h5>
<div class="row" *ngIf="contact" >
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSave()">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="name" type="text" class="validate"
               [(ngModel)]="contact.name" formControlName="name"
               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid"
        >
        <label for="name"
               [class.active]="contact.name"
               data-error="You need to enter at least 3 chars">
          Name
        </label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate"
               [(ngModel)]="contact.email" formControlName="email"
               [class.invalid]="form.controls['email'].touched && !form.controls['email'].valid">
        <label for="email"
               [class.active]="contact.email"
               data-error="Invalid email">
          Email
        </label>
      </div>
    </div>
    <div formGroupName="phone">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="phoneNumber" type="text" class="validate"
                 [(ngModel)]="contact.phone.phoneNumber" formControlName="phoneNumber"
                 [class.invalid]="form.controls['phone'].controls['phoneNumber'].touched
                  && !form.controls['phone'].controls['phoneNumber'].valid">
          <label for="phoneNumber"
                 [class.active]="contact.phone.phoneNumber"
                 data-error="Invalid Phone">
            Phone
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <button class="btn waves-effect waves-light" type="submit"
                [disabled]="!form.valid">
          Submit<i class="material-icons right">send</i>
        </button>
        <a class="waves-effect waves-light btn red"
        (click)="onCancel()">Cancel</a>
      </div>
    </div>
  </form>
</div>
